<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tabletopsupp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TableTopSupp">
        <activity android:name=".activity.NewTableEnter"></activity>
        <activity android:name=".activity.MainPlayer" />
        <activity android:name=".activity.PlayerNavigation" />
        <activity android:name=".activity.NotesPage" />
        <activity android:name=".activity.NoteCreation" />
        <activity android:name=".activity.NewTable" />
        <activity android:name=".activity.InvitePlayers" />
        <activity android:name=".activity.Table_Navigation" />
        <activity android:name=".activity.ItemPage" />
        <activity android:name=".activity.ItenCreation" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.GameMasterNavigation" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>